.container {
  position: relative;
  overflow: visible;

  .avatar__container {
    height: var(--header-item-height, 4rem);
    width: var(--header-item-height, 4rem);

    font-size: 3.2rem;
  }

  .dropdown__container {
    position: absolute;
    right: 0;

    opacity: 0;
    visibility: hidden;

    transition: all 0.2s;
  }

  &:hover > .dropdown__container {
    opacity: 1;
    visibility: visible;
  }
}
