.container {
  max-width: 20em;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 1em;

  font-size: 1.6rem;
  overflow: hidden;

  border-radius: 0.4rem;
  background-image: linear-gradient(
    16deg,
    rgba(var(--color-primary-rgb), 0.3),
    rgba(var(--color-primary-rgb), 0.2)
  );

  background-color: rgba(var(--color-test), 0.4);

  .heading {
    font-size: 3.4rem;
    text-align: center;
    background-color: #e5e5f7;
    opacity: 0.8;
    text-shadow: rgba(var(--color-grey-10), 0.3);

    padding: 2rem 4rem 2rem;

    --s: 80px;
    background:
      repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--color-white) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--color-grey-30) 0 60deg,
        var(--color-grey-90) 0 120deg,
        var(--color-white) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    padding: 1.5em 4rem 2.5em;

    &__group {
      display: flex;
      flex-direction: column;
      font-size: 1.6rem;
      gap: 0.2em;
    }

    &__label {
      font-size: inherit;
      margin-left: 0.8em;

      color: var(--color-grey-10);
      transition: all 0.3s;
    }

    &__input {
      font-size: inherit;
      padding: 0.8em;

      color: var(--color-foreground);

      background: rgba(var(--color-primary-rgb), 0.5);
      border: none;
      border-bottom: 2px solid transparent;
      border-radius: 2px;

      transition: all 0.2s;

      &::placeholder {
        color: var(--color-grey-10);
      }

      &:focus {
        outline: none;
        border-bottom: 2px solid var(--color-primary);
        box-shadow: 0 1px 4px rgba(var(--color-primary-dark-rgb), 0.3);
      }
    }

    &__group:has(.form__input:placeholder-shown) .form__label {
      opacity: 0;
      transform: translateY(1rem);
    }

    &__actions {
      width: fit-content;
      margin-top: 1em;

      & .submit__button {
        font-size: 2rem;
        padding: 0.5em 1em;
        border-radius: 2px;

        border: none;
color: var(--color-foreground);
        background-color: var(--color-primary);

        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          transform: translateY(-2px);
          box-shadow: 0 2px 6px rgba(var(--color-primary-dark-rgb), 0.4);
        }

        &:active {
          transform: translateY(0);
        }
      }
    }
  }
}
