$default-font-size: 1.6rem;

$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$color-primary-dark: var(--color-primary-dark);
$color-primary-rgb: var(--color-primary-rgb);
$color-primary-light-rgb: var(--color-primary-light-rgb);
$color-primary-dark-rgb: var(--color-primary-dark-rgb);

$color-secondary: #ff7730;
$color-background: var(--color-grey-90);
$color-foreground: var(--color-black);

$color-white: var(--color-white);

$color-grey-90: var(--color-grey-90);
$color-grey-60: var(--color-grey-60);
$color-grey-30: var(--color-grey-30);
$color-grey-10: var(--color-grey-10);
$color-grey-10-rgb: var(--color-grey-10-rgb);
