// For variable definition
:root {
  --color-white: #fafafa;
  --color-black: #101010;
}

[data-theme="dark"] {
  --color-white: #101010;
  --color-black: #fafafa;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  max-width: 100vw;
  overflow-x: hidden;

  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  @media only screen and (min-width: 112.5em) {
    font-size: 75%;
  }
  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: 56.25em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;

  background-color: $color-background;
  color: $color-foreground;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
