@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// For variable definition
:root {
  --color-white: #fafafa;
  --color-black: #101010;

  --color-grey-10: #171717;
  --color-grey-30: #242424;
  --color-grey-60: #363636;
  --color-grey-90: #bbbbbb;
  --color-grey-90-rgb: 153, 153, 153;
  --color-grey-10-rgb: 23, 23, 23;

  --color-primary: #9c89b8;
  --color-primary-light: #b8bedd;
  --color-primary-dark: #56577d;
  --color-primary-rgb: 156, 137, 184;
  --color-primary-light-rgb: 184, 190, 221;
  --color-primary-dark-rgb: 86, 87, 125;
}

[data-theme="dark"] {
  --color-white: #101010;
  --color-black: #fafafa;

  --color-grey-dark: #dee2e6;
  --color-grey-medium: #adb5bd;
  --color-grey-light: #495057;
  --color-grey-dark-rgb: 222, 226, 230;

  --color-grey-10: #bbbbbb;
  --color-grey-30: #363636;
  --color-grey-60: #242424;
  --color-grey-90: #171717;
  --color-grey-90-rgb: 23, 23, 23;
  --color-grey-10-rgb: 153, 153, 153;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;

  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  @media only screen and (min-width: 112.5em) {
    font-size: 75%;
  }
  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: 56.25em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;

  background-color: $color-background;
  color: $color-foreground;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
