@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// For variable definition
:root {
  --color-white: #fafafa;
  --color-black: #101010;

  --color-grey-10: #171717;
  --color-grey-30: #242424;
  --color-grey-60: #363636;
  --color-grey-70: #bbbbbb;
  --color-grey-90: #e9ecef;

  --color-primary: #274c77;
  --color-primary-light: #a3cef1;
  --color-primary-dark: #052f5f;

  --color-error: #e63946;

  // -------- RGB variants -------- //
  --color-white-rgb: 250, 250, 250;
  --color-black-rgb: 16, 16, 16;

  --color-grey-10-rgb: 23, 23, 23;
  --color-grey-30-rgb: 36, 36, 36;
  --color-grey-60-rgb: 54, 54, 54;
  --color-grey-70-rgb: 187, 187, 187;
  --color-grey-90-rgb: 233, 236, 239;

  --color-primary-rgb: 39, 76, 119;
  --color-primary-light-rgb: 163, 206, 241;
  --color-primary-dark-rgb: 5, 47, 95;
}

[data-theme="dark"] {
  --color-white: #101010;
  --color-black: #fafafa;

  --color-grey-10: #e9ecef;
  --color-grey-30: #bbbbbb;
  --color-grey-70: #242424;
  --color-grey-60: #363636;
  --color-grey-90: #171717;

  --color-primary: #274c77;
  --color-primary-light: #052f5f;
  --color-primary-dark: #a3cef1;

  // -------- RGB variants -------- //
  --color-white-rgb: 16, 16, 16;
  --color-black-rgb: 250, 250, 250;

  --color-grey-10-rgb: 233, 236, 239;
  --color-grey-30-rgb: 187, 187, 187;
  --color-grey-60-rgb: 54, 54, 54;
  --color-grey-70-rgb: 36, 36, 36;
  --color-grey-90-rgb: 23, 23, 23;

  --color-primary-rgb: 39, 76, 119;
  --color-primary-light-rgb: 5, 47, 95;
  --color-primary-dark-rgb: 163, 206, 241;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;

  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  @media only screen and (min-width: 112.5em) {
    font-size: 75%;
  }
  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: 56.25em) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;

  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
