.frame {
  position: relative;
  font-size: inherit;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  box-shadow: 1px 1px 3px var(--color-grey-30);
  box-sizing: border-box;

  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: inherit;
    text-transform: uppercase;
    color: var(--color-grey-30);
  }
}
